.sidebar {
    width: 300px;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 996;
    transition: all 0.3s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0 0 20px rgba(0, 0, 41, 112, 0.1);
    background-color: #f4f4f4;
    position: fixed;
    padding: 20px;
}

@media (max-width: 1199px) {
    .sidebar {
        left: -300px;
    }
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (min-width: 1200px) {
    #main,
    #footer {
        margin-left: 300px;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (min-width: 1200px) {
    .toggle-sidebar #main
    .toggle-sidebar #footer {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar {
        left: -300px;
    }
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
    font-weight: 11px;
    text-transform: uppercase;
    color: #899bbd;
    margin: 10px 0 5px 15px; 
    font-weight: 600;
    font-size: 11px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #4154f1;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 4px;
    background: #f4f4f4;
}

.sidebar-nav .nav-link i {
    margin-right: 10px;
    font-size: 16px;
    color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
    background: #e9ecef;
    color: #012970;
}

.sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.sidebar-nav .nav-link:hover {
    background: #fff;
    color: #4154f1;
}

.sidebar-nav .nav-link:hover i {
    color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 5px;
}